includes:
    - ./phpstan-ignore-errors.neon

parameters:
    level: 1
    peststan:
        pestConfigFiles:
            - tests/Pest.php
    paths:
        - packages
        - tests
    checkAuthCallsWhenInRequestScope: true
    checkConfigTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkMissingTranslations: false
    checkModelMethodVisibility: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkUnusedViews: true
    enableMigrationCache: true
    generalizeEnvReturnType: true
    noUnnecessaryEnumerableToArrayCalls: true
    parseModelCastsMethod: true
    strictRules:
        # TODO remove when https://github.com/phpstan/phpstan-strict-rules/issues/140 is resolved
        # See also: https://github.com/larastan/larastan/issues/1272
        dynamicCallOnStaticMethod: false
    databaseMigrationsPath:
        - packages/address/database/migrations
        - packages/blog/database/migrations
        - packages/form-builder/database/migrations
        - packages/layout-builder/database/migrations
        - packages/navigation/database/migrations
        - packages/seo-suite/database/migrations
        - packages/tags/database/migrations
        - packages/publishing-studio/database/migrations
    configDirectories:
        - packages/migration-assistant/config
        - packages/foundation-theme/config
        - packages/deployments/config
        - packages/layout-builder/config
        - packages/agent-bridge/config
        - packages/redirects/config
        - packages/seo-suite/config
        - packages/search/config
        - packages/tags/publishes/config
        - packages/toolbar/config
    translationDirectories:
        - packages/address/resources/lang
        - packages/blog/resources/lang
        - packages/layout-builder/resources/lang
        - packages/seo-suite/resources/lang
        - packages/tags/resources/lang
        - packages/toolbar/resources/lang
        - packages/theme-studio-admin/resources/lang
    viewDirectories:
        - packages/blog/resources/views
        - packages/foundation-theme/resources/views
        - packages/layout-builder/resources/views
        - packages/navigation/resources/views
        - packages/seo-suite/resources/views
        - packages/theme-studio-admin/resources/views
        - packages/theme-agency/resources/views
        - packages/theme-corporate/resources/views
        - packages/theme-saas/resources/views
        - packages/toolbar/resources/views
        - packages/publishing-studio/resources/views
    tmpDir: /tmp/phpstan
