includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    level: 1
    paths:
        - packages
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    databaseMigrationsPath:
        - packages/layout/database/migrations
    configDirectories:
        - packages/blog/config
