parameters:
    ignoreErrors:
        - message: "#Relation \\'layoutWidgets\\' is not found.*#"
        - message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::.*#'
          paths:
              - tests
