parameters:
    ignoreErrors:
        -
            identifier: class.notFound
            message: '#Capell\\Core\\Models\\PageTranslation#'
        -
            identifier: larastan.relationExistence
            message: '#layoutWidgets#'
        -
            identifier: larastan.relationExistence
            message: '#workspace#'
        -
            identifier: typeCoverage.constantTypeCoverage
